ImageProject/.vs
ImageProject/ImageProject/log.txt
ImageProject/ImageProject/x64/Debug/
ImageProject/ImageProcessingTest/x64/Debug/
ImageProject/x64/Debug/
ImageProject/packages/
ImageProject/build/
ImageProject/files/
ImageProject/ImageProject/files/avgOfObj.db
ImageProject/ImageProcessingTest/ImageProcessingTest.vcxproj
ImageProject/ImageProcessingTest/packages.config
ImageProject/ImageProject/ImageProject.vcxproj.filters
ImageProject/ImageProject/ImageProject.vcxproj
*.user
*.csv
*.config
*.vcxproj
*.filters
*.sln
x64/
Debug/
